<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>A</key>
<dict>
<key>Abidjan, Africa</key>
<string>Africa/Abidjan</string>
<key>Accra, Africa</key>
<string>Africa/Accra</string>
<key>Adak, America</key>
<string>America/Adak</string>
<key>Addis Ababa, Africa</key>
<string>Africa/Addis_Ababa</string>
<key>Adelaide, Australia</key>
<string>Australia/Adelaide</string>
<key>Aden, Asia</key>
<string>Asia/Aden</string>
<key>Algiers, Africa</key>
<string>Africa/Algiers</string>
<key>Almaty, Asia</key>
<string>Asia/Almaty</string>
<key>Amman, Asia</key>
<string>Asia/Amman</string>
<key>Amsterdam, Europe</key>
<string>Europe/Amsterdam</string>
<key>Anadyr, Asia</key>
<string>Asia/Anadyr</string>
<key>Anchorage, America</key>
<string>America/Anchorage</string>
<key>Andorra, Europe</key>
<string>Europe/Andorra</string>
<key>Anguilla, America</key>
<string>America/Anguilla</string>
<key>Antananarivo, Indian</key>
<string>Indian/Antananarivo</string>
<key>Antigua, America</key>
<string>America/Antigua</string>
<key>Apia, Pacific</key>
<string>Pacific/Apia</string>
<key>Aqtau, Asia</key>
<string>Asia/Aqtau</string>
<key>Aqtobe, Asia</key>
<string>Asia/Aqtobe</string>
<key>Araguaina, America</key>
<string>America/Araguaina</string>
<key>Arctic, Longyearbyen</key>
<string>Longyearbyen/Arctic</string>
<key>Aruba, America</key>
<string>America/Aruba</string>
<key>Ashgabat, Asia</key>
<string>Asia/Ashgabat</string>
<key>Asmara, Africa</key>
<string>Africa/Asmara</string>
<key>Asuncion, America</key>
<string>America/Asuncion</string>
<key>Athens, Europe</key>
<string>Europe/Athens</string>
<key>Atikokan, America</key>
<string>America/Atikokan</string>
<key>Auckland, Pacific</key>
<string>Pacific/Auckland</string>
<key>Azores, Atlantic</key>
<string>Atlantic/Azores</string>
</dict>
<key>B</key>
<dict>
<key>Baghdad, Asia</key>
<string>Asia/Baghdad</string>
<key>Bahia, America</key>
<string>America/Bahia</string>
<key>Bahia Banderas, America</key>
<string>America/Bahia_Banderas</string>
<key>Bahrain, Asia</key>
<string>Asia/Bahrain</string>
<key>Baku, Asia</key>
<string>Asia/Baku</string>
<key>Bamako, Africa</key>
<string>Africa/Bamako</string>
<key>Bangkok, Asia</key>
<string>Asia/Bangkok</string>
<key>Bangui, Africa</key>
<string>Africa/Bangui</string>
<key>Banjul, Africa</key>
<string>Africa/Banjul</string>
<key>Barbados, America</key>
<string>America/Barbados</string>
<key>Beirut, Asia</key>
<string>Asia/Beirut</string>
<key>Belem, America</key>
<string>America/Belem</string>
<key>Belgrade, Europe</key>
<string>Europe/Belgrade</string>
<key>Belize, America</key>
<string>America/Belize</string>
<key>Berlin, Europe</key>
<string>Europe/Berlin</string>
<key>Bermuda, Atlantic</key>
<string>Atlantic/Bermuda</string>
<key>Beulah, America</key>
<string>America/North_Dakota/Beulah</string>
<key>Bishkek, Asia</key>
<string>Asia/Bishkek</string>
<key>Bissau, Africa</key>
<string>Africa/Bissau</string>
<key>Blanc-Sablon, America</key>
<string>America/Blanc-Sablon</string>
<key>Blantyre, Africa</key>
<string>Africa/Blantyre</string>
<key>Boa Vista, America</key>
<string>America/Boa_Vista</string>
<key>Bogota, America</key>
<string>America/Bogota</string>
<key>Boise, America</key>
<string>America/Boise</string>
<key>Bougainville, Pacific</key>
<string>Pacific/Bougainville</string>
<key>Bratislava, Europe</key>
<string>Europe/Bratislava</string>
<key>Brazzaville, Africa</key>
<string>Africa/Brazzaville</string>
<key>Brisbane, Australia</key>
<string>Australia/Brisbane</string>
<key>Broken Hill, Australia</key>
<string>Australia/Broken_Hill</string>
<key>Brunei, Asia</key>
<string>Asia/Brunei</string>
<key>Brussels, Europe</key>
<string>Europe/Brussels</string>
<key>Bucharest, Europe</key>
<string>Europe/Bucharest</string>
<key>Budapest, Europe</key>
<string>Europe/Budapest</string>
<key>Buenos Aires, Argentina</key>
<string>America/Argentina/Buenos_Aires</string>
<key>Bujumbura, Africa</key>
<string>Africa/Bujumbura</string>
<key>Busingen, Europe</key>
<string>Europe/Busingen</string>
</dict>
<key>C</key>
<dict>
<key>Cairo, Africa</key>
<string>Africa/Cairo</string>
<key>Cambridge Bay, America</key>
<string>America/Cambridge_Bay</string>
<key>Campo Grande, America</key>
<string>America/Campo_Grande</string>
<key>Canary, Atlantic</key>
<string>Atlantic/Canary</string>
<key>Cancun, America</key>
<string>America/Cancun</string>
<key>Cape Verde, Atlantic</key>
<string>Atlantic/Cape_Verde</string>
<key>Caracas, America</key>
<string>America/Caracas</string>
<key>Casablanca, Africa</key>
<string>Africa/Casablanca</string>
<key>Casey, Antarctica</key>
<string>America/Antarctica/Casey</string>
<key>Catamarca, Argentina</key>
<string>America/Argentina/Catamarca</string>
<key>Cayenne, America</key>
<string>America/Cayenne</string>
<key>Cayman, America</key>
<string>America/Cayman</string>
<key>Center, America</key>
<string>America/North_Dakota/Center</string>
<key>Ceuta, Africa</key>
<string>Africa/Ceuta</string>
<key>Chagos, Indian</key>
<string>Indian/Chagos</string>
<key>Chatham, Pacific</key>
<string>Pacific/Chatham</string>
<key>Chicago, America</key>
<string>America/Chicago</string>
<key>Chihuahua, America</key>
<string>America/Chihuahua</string>
<key>Chisinau, Europe</key>
<string>Europe/Chisinau</string>
<key>Chita, Asia</key>
<string>Asia/Chita</string>
<key>Choibalsan, Asia</key>
<string>Asia/Choibalsan</string>
<key>Chongqing, Asia</key>
<string>Asia/Chongqing</string>
<key>Christmas, Indian</key>
<string>Indian/Christmas</string>
<key>Chuuk, Pacific</key>
<string>Pacific/Chuuk</string>
<key>Cocos, Indian</key>
<string>Indian/Cocos</string>
<key>Colombo, Asia</key>
<string>Asia/Colombo</string>
<key>Comoro, Indian</key>
<string>Indian/Comoro</string>
<key>Conakry, Africa</key>
<string>Africa/Conakry</string>
<key>Copenhagen, Europe</key>
<string>Europe/Copenhagen</string>
<key>Cordoba, Argentina</key>
<string>America/Argentina/Cordoba</string>
<key>Costa Rica, America</key>
<string>America/Costa_Rica</string>
<key>Creston, America</key>
<string>America/Creston</string>
<key>Cuiaba, America</key>
<string>America/Cuiaba</string>
<key>Curacao, America</key>
<string>America/Curacao</string>
<key>Currie, Australia</key>
<string>Australia/Currie</string>
</dict>
<key>D</key>
<dict>
<key>Dakar, Africa</key>
<string>Africa/Dakar</string>
<key>Damascus, Asia</key>
<string>Asia/Damascus</string>
<key>Danmarkshavn, America</key>
<string>America/Danmarkshavn</string>
<key>Dar es Salaam, Africa</key>
<string>Africa/Dar_es_Salaam</string>
<key>Darwin, Australia</key>
<string>Australia/Darwin</string>
<key>Davis, Antarctica</key>
<string>America/Antarctica/Davis</string>
<key>Dawson, America</key>
<string>America/Dawson</string>
<key>Dawson Creek, America</key>
<string>America/Dawson_Creek</string>
<key>Denver, America</key>
<string>America/Denver</string>
<key>Detroit, America</key>
<string>America/Detroit</string>
<key>Dhaka, Asia</key>
<string>Asia/Dhaka</string>
<key>Dili, Asia</key>
<string>Asia/Dili</string>
<key>Djibouti, Africa</key>
<string>Africa/Djibouti</string>
<key>Dominica, America</key>
<string>America/Dominica</string>
<key>Douala, Africa</key>
<string>Africa/Douala</string>
<key>Dubai, Asia</key>
<string>Asia/Dubai</string>
<key>Dublin, Europe</key>
<string>Europe/Dublin</string>
<key>DumontDUrville, Antarctica</key>
<string>America/Antarctica/DumontDUrville</string>
<key>Dushanbe, Asia</key>
<string>Asia/Dushanbe</string>
</dict>
<key>E</key>
<dict>
<key>Easter, Pacific</key>
<string>Pacific/Easter</string>
<key>Edmonton, America</key>
<string>America/Edmonton</string>
<key>Efate, Pacific</key>
<string>Pacific/Efate</string>
<key>Eirunepe, America</key>
<string>America/Eirunepe</string>
<key>El Aaiun, Africa</key>
<string>Africa/El_Aaiun</string>
<key>El Salvador, America</key>
<string>America/El_Salvador</string>
<key>Enderbury, Pacific</key>
<string>Pacific/Enderbury</string>
<key>Eucla, Australia</key>
<string>Australia/Eucla</string>
</dict>
<key>F</key>
<dict>
<key>Fakaofo, Pacific</key>
<string>Pacific/Fakaofo</string>
<key>Faroe, Atlantic</key>
<string>Atlantic/Faroe</string>
<key>Fiji, Pacific</key>
<string>Pacific/Fiji</string>
<key>Fort Nelson, America</key>
<string>America/Fort_Nelson</string>
<key>Fortaleza, America</key>
<string>America/Fortaleza</string>
<key>Freetown, Africa</key>
<string>Africa/Freetown</string>
<key>Funafuti, Pacific</key>
<string>Pacific/Funafuti</string>
</dict>
<key>G</key>
<dict>
<key>Gaborone, Africa</key>
<string>Africa/Gaborone</string>
<key>Galapagos, Pacific</key>
<string>Pacific/Galapagos</string>
<key>Gambier, Pacific</key>
<string>Pacific/Gambier</string>
<key>Gaza, Asia</key>
<string>Asia/Gaza</string>
<key>Gibraltar, Europe</key>
<string>Europe/Gibraltar</string>
<key>Glace Bay, America</key>
<string>America/Glace_Bay</string>
<key>Godthab, America</key>
<string>America/Godthab</string>
<key>Goose Bay, America</key>
<string>America/Goose_Bay</string>
<key>Grand Turk, America</key>
<string>America/Grand_Turk</string>
<key>Grenada, America</key>
<string>America/Grenada</string>
<key>Guadalcanal, Pacific</key>
<string>Pacific/Guadalcanal</string>
<key>Guadeloupe, America</key>
<string>America/Guadeloupe</string>
<key>Guam, Pacific</key>
<string>Pacific/Guam</string>
<key>Guatemala, America</key>
<string>America/Guatemala</string>
<key>Guayaquil, America</key>
<string>America/Guayaquil</string>
<key>Guernsey, Europe</key>
<string>Europe/Guernsey</string>
<key>Guyana, America</key>
<string>America/Guyana</string>
</dict>
<key>H</key>
<dict>
<key>Halifax, America</key>
<string>America/Halifax</string>
<key>Harare, Africa</key>
<string>Africa/Harare</string>
<key>Harbin, Asia</key>
<string>Asia/Harbin</string>
<key>Havana, America</key>
<string>America/Havana</string>
<key>Hebron, Asia</key>
<string>Asia/Hebron</string>
<key>Helsinki, Europe</key>
<string>Europe/Helsinki</string>
<key>Hermosillo, America</key>
<string>America/Hermosillo</string>
<key>Ho Chi Minh, Asia</key>
<string>Asia/Ho_Chi_Minh</string>
<key>Hobart, Australia</key>
<string>Australia/Hobart</string>
<key>Hong Kong, Asia</key>
<string>Asia/Hong_Kong</string>
<key>Honolulu, Pacific</key>
<string>Pacific/Honolulu</string>
<key>Hovd, Asia</key>
<string>Asia/Hovd</string>
</dict>
<key>I</key>
<dict>
<key>Indianapolis, America</key>
<string>America/Indiana/Indianapolis</string>
<key>Inuvik, America</key>
<string>America/Inuvik</string>
<key>Iqaluit, America</key>
<string>America/Iqaluit</string>
<key>Irkutsk, Asia</key>
<string>Asia/Irkutsk</string>
<key>Isle of Man, Europe</key>
<string>Europe/Isle_of_Man</string>
<key>Istanbul, Europe</key>
<string>Europe/Istanbul</string>
</dict>
<key>J</key>
<dict>
<key>Jakarta, Asia</key>
<string>Asia/Jakarta</string>
<key>Jamaica, America</key>
<string>America/Jamaica</string>
<key>Jayapura, Asia</key>
<string>Asia/Jayapura</string>
<key>Jersey, Europe</key>
<string>Europe/Jersey</string>
<key>Jerusalem, Asia</key>
<string>Asia/Jerusalem</string>
<key>Johannesburg, Africa</key>
<string>Africa/Johannesburg</string>
<key>Johnston, Pacific</key>
<string>Pacific/Johnston</string>
<key>Juba, Africa</key>
<string>Africa/Juba</string>
<key>Jujuy, Argentina</key>
<string>America/Argentina/Jujuy</string>
<key>Juneau, America</key>
<string>America/Juneau</string>
</dict>
<key>K</key>
<dict>
<key>Kabul, Asia</key>
<string>Asia/Kabul</string>
<key>Kaliningrad, Europe</key>
<string>Europe/Kaliningrad</string>
<key>Kamchatka, Asia</key>
<string>Asia/Kamchatka</string>
<key>Kampala, Africa</key>
<string>Africa/Kampala</string>
<key>Karachi, Asia</key>
<string>Asia/Karachi</string>
<key>Kashgar, Asia</key>
<string>Asia/Kashgar</string>
<key>Kathmandu, Asia</key>
<string>Asia/Kathmandu</string>
<key>Katmandu, Asia</key>
<string>Asia/Katmandu</string>
<key>Kerguelen, Indian</key>
<string>Indian/Kerguelen</string>
<key>Khandyga, Asia</key>
<string>Asia/Khandyga</string>
<key>Khartoum, Africa</key>
<string>Africa/Khartoum</string>
<key>Kiev, Europe</key>
<string>Europe/Kiev</string>
<key>Kigali, Africa</key>
<string>Africa/Kigali</string>
<key>Kinshasa, Africa</key>
<string>Africa/Kinshasa</string>
<key>Kiritimati, Pacific</key>
<string>Pacific/Kiritimati</string>
<key>Knox, America</key>
<string>America/Indiana/Knox</string>
<key>Kolkata, Asia</key>
<string>Asia/Kolkata</string>
<key>Kosrae, Pacific</key>
<string>Pacific/Kosrae</string>
<key>Kralendijk, America</key>
<string>America/Kralendijk</string>
<key>Krasnoyarsk, Asia</key>
<string>Asia/Krasnoyarsk</string>
<key>Kuala Lumpur, Asia</key>
<string>Asia/Kuala_Lumpur</string>
<key>Kuching, Asia</key>
<string>Asia/Kuching</string>
<key>Kuwait, Asia</key>
<string>Asia/Kuwait</string>
<key>Kwajalein, Pacific</key>
<string>Pacific/Kwajalein</string>
</dict>
<key>L</key>
<dict>
<key>La Paz, America</key>
<string>America/La_Paz</string>
<key>La Rioja, Argentina</key>
<string>America/Argentina/La_Rioja</string>
<key>Lagos, Africa</key>
<string>Africa/Lagos</string>
<key>Libreville, Africa</key>
<string>Africa/Libreville</string>
<key>Lima, America</key>
<string>America/Lima</string>
<key>Lindeman, Australia</key>
<string>Australia/Lindeman</string>
<key>Lisbon, Europe</key>
<string>Europe/Lisbon</string>
<key>Ljubljana, Europe</key>
<string>Europe/Ljubljana</string>
<key>Lome, Africa</key>
<string>Africa/Lome</string>
<key>London, Europe</key>
<string>Europe/London</string>
<key>Lord Howe, Australia</key>
<string>Australia/Lord_Howe</string>
<key>Los Angeles, America</key>
<string>America/Los_Angeles</string>
<key>Louisville, America</key>
<string>America/Kentucky/Louisville</string>
<key>Lower Princes, America</key>
<string>America/Lower_Princes</string>
<key>Luanda, Africa</key>
<string>Africa/Luanda</string>
<key>Lubumbashi, Africa</key>
<string>Africa/Lubumbashi</string>
<key>Lusaka, Africa</key>
<string>Africa/Lusaka</string>
<key>Luxembourg, Europe</key>
<string>Europe/Luxembourg</string>
</dict>
<key>M</key>
<dict>
<key>Macau, Asia</key>
<string>Asia/Macau</string>
<key>Maceio, America</key>
<string>America/Maceio</string>
<key>Macquarie, Antarctica</key>
<string>America/Antarctica/Macquarie</string>
<key>Madeira, Atlantic</key>
<string>Atlantic/Madeira</string>
<key>Madrid, Europe</key>
<string>Europe/Madrid</string>
<key>Magadan, Asia</key>
<string>Asia/Magadan</string>
<key>Mahe, Indian</key>
<string>Indian/Mahe</string>
<key>Majuro, Pacific</key>
<string>Pacific/Majuro</string>
<key>Makassar, Asia</key>
<string>Asia/Makassar</string>
<key>Malabo, Africa</key>
<string>Africa/Malabo</string>
<key>Maldives, Indian</key>
<string>Indian/Maldives</string>
<key>Malta, Europe</key>
<string>Europe/Malta</string>
<key>Managua, America</key>
<string>America/Managua</string>
<key>Manaus, America</key>
<string>America/Manaus</string>
<key>Manila, Asia</key>
<string>Asia/Manila</string>
<key>Maputo, Africa</key>
<string>Africa/Maputo</string>
<key>Marengo, America</key>
<string>America/Indiana/Marengo</string>
<key>Mariehamn, Europe</key>
<string>Europe/Mariehamn</string>
<key>Marigot, America</key>
<string>America/Marigot</string>
<key>Marquesas, Pacific</key>
<string>Pacific/Marquesas</string>
<key>Martinique, America</key>
<string>America/Martinique</string>
<key>Maseru, Africa</key>
<string>Africa/Maseru</string>
<key>Matamoros, America</key>
<string>America/Matamoros</string>
<key>Mauritius, Indian</key>
<string>Indian/Mauritius</string>
<key>Mawson, Antarctica</key>
<string>America/Antarctica/Mawson</string>
<key>Mayotte, Indian</key>
<string>Indian/Mayotte</string>
<key>Mazatlan, America</key>
<string>America/Mazatlan</string>
<key>Mbabane, Africa</key>
<string>Africa/Mbabane</string>
<key>McMurdo, Antarctica</key>
<string>America/Antarctica/McMurdo</string>
<key>Melbourne, Australia</key>
<string>Australia/Melbourne</string>
<key>Mendoza, Argentina</key>
<string>America/Argentina/Mendoza</string>
<key>Menominee, America</key>
<string>America/Menominee</string>
<key>Merida, America</key>
<string>America/Merida</string>
<key>Metlakatla, America</key>
<string>America/Metlakatla</string>
<key>Mexico City, America</key>
<string>America/Mexico_City</string>
<key>Midway, Pacific</key>
<string>Pacific/Midway</string>
<key>Minsk, Europe</key>
<string>Europe/Minsk</string>
<key>Miquelon, America</key>
<string>America/Miquelon</string>
<key>Mogadishu, Africa</key>
<string>Africa/Mogadishu</string>
<key>Monaco, Europe</key>
<string>Europe/Monaco</string>
<key>Moncton, America</key>
<string>America/Moncton</string>
<key>Monrovia, Africa</key>
<string>Africa/Monrovia</string>
<key>Monterrey, America</key>
<string>America/Monterrey</string>
<key>Montevideo, America</key>
<string>America/Montevideo</string>
<key>Monticello, America</key>
<string>America/Kentucky/Monticello</string>
<key>Montreal, America</key>
<string>America/Montreal</string>
<key>Montserrat, America</key>
<string>America/Montserrat</string>
<key>Moscow, Europe</key>
<string>Europe/Moscow</string>
<key>Muscat, Asia</key>
<string>Asia/Muscat</string>
</dict>
<key>N</key>
<dict>
<key>Nairobi, Africa</key>
<string>Africa/Nairobi</string>
<key>Nassau, America</key>
<string>America/Nassau</string>
<key>Nauru, Pacific</key>
<string>Pacific/Nauru</string>
<key>Ndjamena, Africa</key>
<string>Africa/Ndjamena</string>
<key>New Salem, America</key>
<string>America/North_Dakota/New_Salem</string>
<key>New York, America</key>
<string>America/New_York</string>
<key>Niamey, Africa</key>
<string>Africa/Niamey</string>
<key>Nicosia, Asia</key>
<string>Asia/Nicosia</string>
<key>Nipigon, America</key>
<string>America/Nipigon</string>
<key>Niue, Pacific</key>
<string>acific/Niue</string>
<key>Nome, America</key>
<string>America/Nome</string>
<key>Norfolk, Pacific</key>
<string>Pacific/Norfolk</string>
<key>Noronha, America</key>
<string>America/Noronha</string>
<key>Nouakchott, Africa</key>
<string>Africa/Nouakchott</string>
<key>Noumea, Pacific</key>
<string>Pacific/Noumea</string>
<key>Novokuznetsk, Asia</key>
<string>Asia/Novokuznetsk</string>
<key>Novosibirsk, Asia</key>
<string>Asia/Novosibirsk</string>
</dict>
<key>O</key>
<dict>
<key>Ojinaga, America</key>
<string>America/Ojinaga</string>
<key>Omsk, Asia</key>
<string>Asia/Omsk</string>
<key>Oral, Asia</key>
<string>Asia/Oral</string>
<key>Oslo, Europe</key>
<string>Europe/Oslo</string>
<key>Ouagadougou, Africa</key>
<string>Africa/Ouagadougou</string>
</dict>
<key>P</key>
<dict>
<key>Pago Pago, Pacific</key>
<string>Pacific/Pago_Pago</string>
<key>Palau, Pacific</key>
<string>Pacific/Palau</string>
<key>Palmer, Antarctica</key>
<string>America/Antarctica/Palmer</string>
<key>Panama, America</key>
<string>America/Panama</string>
<key>Pangnirtung, America</key>
<string>America/Pangnirtung</string>
<key>Paramaribo, America</key>
<string>America/Paramaribo</string>
<key>Paris, Europe</key>
<string>Europe/Paris</string>
<key>Perth, Australia</key>
<string>Australia/Perth</string>
<key>Petersburg, America</key>
<string>America/Indiana/Petersburg</string>
<key>Phnom Penh, Asia</key>
<string>Asia/Phnom_Penh</string>
<key>Phoenix, America</key>
<string>America/Phoenix</string>
<key>Pitcairn, Pacific</key>
<string>Pacific/Pitcairn</string>
<key>Podgorica, Europe</key>
<string>Europe/Podgorica</string>
<key>Pohnpei, Pacific</key>
<string>Pacific/Pohnpei</string>
<key>Ponape, Pacific</key>
<string>Pacific/Ponape</string>
<key>Pontianak, Asia</key>
<string>Asia/Pontianak</string>
<key>Port-au-Prince, America</key>
<string>America/Port-au-Prince</string>
<key>Port Moresby, Pacific</key>
<string>Pacific/Port_Moresby</string>
<key>Port of Spain, America</key>
<string>America/Port_of_Spain</string>
<key>Porto-Novo, Africa</key>
<string>Africa/Porto-Novo</string>
<key>Porto Velho, America</key>
<string>America/Porto_Velho</string>
<key>Prague, Europe</key>
<string>Europe/Prague</string>
<key>Puerto Rico, America</key>
<string>America/Puerto_Rico</string>
<key>Pyongyang, Asia</key>
<string>Asia/Pyongyang</string>
</dict>
<key>Q</key>
<dict>
<key>Qatar, Asia</key>
<string>Asia/Qatar</string>
<key>Qyzylorda, Asia</key>
<string>Asia/Qyzylorda</string>
</dict>
<key>R</key>
<dict>
<key>Rainy River, America</key>
<string>America/Rainy_River</string>
<key>Rangoon, Asia</key>
<string>Asia/Rangoon</string>
<key>Rankin Inlet, America</key>
<string>America/Rankin_Inlet</string>
<key>Rarotonga, Pacific</key>
<string>Pacific/Rarotonga</string>
<key>Recife, America</key>
<string>America/Recife</string>
<key>Regina, America</key>
<string>America/Regina</string>
<key>Resolute, America</key>
<string>America/Resolute</string>
<key>Reunion, Indian</key>
<string>Indian/Reunion</string>
<key>Reykjavik, Atlantic</key>
<string>Atlantic/Reykjavik</string>
<key>Riga, Europe</key>
<string>Europe/Riga</string>
<key>Rio Branco, America</key>
<string>America/Rio_Branco</string>
<key>Rio Gallegos, Argentina</key>
<string>America/Argentina/Rio_Gallegos</string>
<key>Riyadh, Asia</key>
<string>Asia/Riyadh</string>
<key>Rome, Europe</key>
<string>Europe/Rome</string>
<key>Rothera, Antarctica</key>
<string>America/Antarctica/Rothera</string>
</dict>
<key>S</key>
<dict>
<key>Saipan, Pacific</key>
<string>Pacific/Saipan</string>
<key>Sakhalin, Asia</key>
<string>Asia/Sakhalin</string>
<key>Salta, Argentina</key>
<string>America/Argentina/Salta</string>
<key>Samara, Europe</key>
<string>Europe/Samara</string>
<key>Samarkand, Asia</key>
<string>Asia/Samarkand</string>
<key>San Juan, Argentina</key>
<string>America/Argentina/San_Juan</string>
<key>San Luis, Argentina</key>
<string>America/Argentina/San_Luis</string>
<key>San Marino, Europe</key>
<string>Europe/San_Marino</string>
<key>Santa Isabel, America</key>
<string>America/Santa_Isabel</string>
<key>Santarem, America</key>
<string>America/Santarem</string>
<key>Santiago, America</key>
<string>America/Santiago</string>
<key>Santo Domingo, America</key>
<string>America/Santo_Domingo</string>
<key>Sao Paulo, America</key>
<string>America/Sao_Paulo</string>
<key>Sao Tome, Africa</key>
<string>Africa/Sao_Tome</string>
<key>Sarajevo, Europe</key>
<string>Europe/Sarajevo</string>
<key>Scoresbysund, America</key>
<string>America/Scoresbysund</string>
<key>Seoul, Asia</key>
<string>Asia/Seoul</string>
<key>Shanghai, Asia</key>
<string>Asia/Shanghai</string>
<key>Shiprock, America</key>
<string>America/Shiprock</string>
<key>Simferopol, Europe</key>
<string>Europe/Simferopol</string>
<key>Singapore, Asia</key>
<string>Asia/Singapore</string>
<key>Sitka, America</key>
<string>America/Sitka</string>
<key>Skopje, Europe</key>
<string>Europe/Skopje</string>
<key>Sofia, Europe</key>
<string>Europe/Sofia</string>
<key>South Georgia, Atlantic</key>
<string>Atlantic/South_Georgia</string>
<key>South Pole, Antarctica</key>
<string>America/Antarctica/South_Pole</string>
<key>Srednekolymsk, Asia</key>
<string>Asia/Srednekolymsk</string>
<key>St Barthelemy, America</key>
<string>America/St_Barthelemy</string>
<key>St Helena, Atlantic</key>
<string>Atlantic/St_Helena</string>
<key>St Johns, America</key>
<string>America/St_Johns</string>
<key>St Kitts, America</key>
<string>America/St_Kitts</string>
<key>St Lucia, America</key>
<string>America/St_Lucia</string>
<key>St Thomas, America</key>
<string>America/St_Thomas</string>
<key>St Vincent, America</key>
<string>America/St_Vincent</string>
<key>Stanley, Atlantic</key>
<string>Atlantic/Stanley</string>
<key>Stockholm, Europe</key>
<string>Europe/Stockholm</string>
<key>Swift Current, America</key>
<string>America/Swift_Current</string>
<key>Sydney, Australia</key>
<string>Australia/Sydney</string>
<key>Syowa, Antarctica</key>
<string>America/Antarctica/Syowa</string>
</dict>
<key>T</key>
<dict>
<key>Tahiti, Pacific</key>
<string>Pacific/Tahiti</string>
<key>Taipei, Asia</key>
<string>Asia/Taipei</string>
<key>Tallinn, Europe</key>
<string>Europe/Tallinn</string>
<key>Tarawa, Pacific</key>
<string>Pacific/Tarawa</string>
<key>Tashkent, Asia</key>
<string>Asia/Tashkent</string>
<key>Tbilisi, Asia</key>
<string>Asia/Tbilisi</string>
<key>Tegucigalpa, America</key>
<string>America/Tegucigalpa</string>
<key>Tehran, Asia</key>
<string>Asia/Tehran</string>
<key>Tell City, America</key>
<string>America/Indiana/Tell_City</string>
<key>Thimphu, Asia</key>
<string>Asia/Thimphu</string>
<key>Thule, America</key>
<string>America/Thule</string>
<key>Thunder Bay, America</key>
<string>America/Thunder_Bay</string>
<key>Tijuana, America</key>
<string>America/Tijuana</string>
<key>Tirane, Europe</key>
<string>Europe/Tirane</string>
<key>Tokyo, Asia</key>
<string>Asia/Tokyo</string>
<key>Tongatapu, Pacific</key>
<string>Pacific/Tongatapu</string>
<key>Toronto, America</key>
<string>America/Toronto</string>
<key>Tortola, America</key>
<string>America/Tortola</string>
<key>Tripoli, Africa</key>
<string>Africa/Tripoli</string>
<key>Troll, Antarctica</key>
<string>America/Antarctica/Troll</string>
<key>Truk, Pacific</key>
<string>Pacific/Truk</string>
<key>Tucuman, Argentina</key>
<string>America/Argentina/Tucuman</string>
<key>Tunis, Africa</key>
<string>Africa/Tunis</string>
</dict>
<key>U</key>
<dict>
<key>Ulaanbaatar, Asia</key>
<string>Asia/Ulaanbaatar</string>
<key>Urumqi, Asia</key>
<string>Asia/Urumqi</string>
<key>Ushuaia, Argentina</key>
<string>America/Argentina/Ushuaia</string>
<key>Ust-Nera, Asia</key>
<string>Asia/Ust-Nera</string>
<key>Uzhgorod, Europe</key>
<string>Europe/Uzhgorod</string>
</dict>
<key>V</key>
<dict>
<key>Vaduz, Europe</key>
<string>Europe/Vaduz</string>
<key>Vancouver, America</key>
<string>America/Vancouver</string>
<key>Vatican, Europe</key>
<string>Europe/Vatican</string>
<key>Vevay, America</key>
<string>America/Indiana/Vevay</string>
<key>Vienna, Europe</key>
<string>Europe/Vienna</string>
<key>Vientiane, Asia</key>
<string>Asia/Vientiane</string>
<key>Vilnius, Europe</key>
<string>Europe/Vilnius</string>
<key>Vincennes, America</key>
<string>America/Indiana/Vincennes</string>
<key>Vladivostok, Asia</key>
<string>Asia/Vladivostok</string>
<key>Volgograd, Europe</key>
<string>Europe/Volgograd</string>
<key>Vostok, Antarctica</key>
<string>America/Antarctica/Vostok</string>
</dict>
<key>W</key>
<dict>
<key>Wake, Pacific</key>
<string>Pacific/Wake</string>
<key>Walli, Pacifics</key>
<string>Pacifics/Walli</string>
<key>Warsaw, Europe</key>
<string>Europe/Warsaw</string>
<key>Whitehorse, America</key>
<string>America/Whitehorse</string>
<key>Winamac, America</key>
<string>America/Indiana/Winamac</string>
<key>Windhoek, Africa</key>
<string>Africa/Windhoek</string>
<key>Winnipeg, America</key>
<string>America/Winnipeg</string>
</dict>
<key>Y</key>
<dict>
<key>Yakutat, America</key>
<string>America/Yakutat</string>
<key>Yakutsk, Asia</key>
<string>Asia/Yakutsk</string>
<key>Yekaterinburg, Asia</key>
<string>Asia/Yekaterinburg</string>
<key>Yellowknife, America</key>
<string>America/Yellowknife</string>
<key>Yerevan, Asia</key>
<string>Asia/Yerevan</string>
</dict>
<key>Z</key>
<dict>
<key>Zagreb, Europe</key>
<string>Europe/Zagreb</string>
<key>Zaporozhye, Europe</key>
<string>Europe/Zaporozhye</string>
<key>Zurich, Europe</key>
<string>Europe/Zurich</string>
</dict>
</dict>
</plist>
