<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>0.2</string>
	<key>NotificationType</key>
	<dict>
		<key>Calls</key>
		<dict>
			<key>bundleId</key>
			<string>com.apple.mobilephone</string>
			<key>state</key>
			<false/>
		</dict>
		<key>Calendar</key>
		<dict>
			<key>bundleId</key>
			<string>com.apple.mobilecal</string>
			<key>state</key>
			<false/>
		</dict>
		<key>iMessenger</key>
		<dict>
			<key>bundleId</key>
			<string>com.apple.MobileSMS</string>
			<key>state</key>
			<false/>
		</dict>
		<key>Email</key>
		<dict>
			<key>bundleId</key>
			<string>com.apple.mobilemail</string>
			<key>state</key>
			<false/>
		</dict>
		<key>Social</key>
		<dict>
			<key>QQ</key>
			<dict>
				<key>bundleId</key>
				<string>com.tencent.mqq</string>
				<key>state</key>
				<false/>
			</dict>
			<key>Twitter</key>
			<dict>
				<key>bundleId</key>
				<string>com.atebits.Tweetie2</string>
				<key>state</key>
				<false/>
			</dict>
			<key>Inastagram</key>
			<dict>
				<key>bundleId</key>
				<string>com.burbn.instagram</string>
				<key>state</key>
				<false/>
			</dict>
			<key>Messenger(Facebook)</key>
			<dict>
				<key>bundleId</key>
				<string>com.facebook.Messenger</string>
				<key>state</key>
				<false/>
			</dict>
			<key>WeChat</key>
			<dict>
				<key>bundleId</key>
				<string>com.tencent.xin</string>
				<key>state</key>
				<false/>
			</dict>
			<key>Facebook</key>
			<dict>
				<key>bundleId</key>
				<string>com.facebook.Facebook</string>
				<key>state</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
